
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
        text-decoration: none;
        color: $main-text-color;
        transition: 0.3s;
    }
}

body {
    position: relative;
    overflow-x: hidden;
    color: $main-text-color;
}

body,
figure,
ul {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
}

li {
    list-style: none;
}

.main-color-accent {
    color: $main-accent-color;
}
