@font-face {
  font-family: 'slick';
  src: url('../../fonts/slick.eot');
  src: url('../../fonts/slick?#iefix') format('embedded-opentype'),
  url('../../fonts/slick.woff') format('woff'),
  url('../../fonts/slick.ttf') format('truetype');
}
