$main-font: 'Bitter', serif;
$second-font: 'Segoe UI', sans-serif;
$main-accent-color: #59b7c2;
$main-text-color: #777777;

$breakpoints: (
  'small-min': (min-width: 320px),
  'medium-min': (min-width: 800px),
  'large-min': (min-width: 984px),
  'huge-min': (min-width: 1200px),
//  'large-huge-min': (min-width: 1025px) and (max-width: 1200px),
);