$main-font: Roboto, sans-serif;
$main-accent-color: #fa4f01;
$second-color: #a8ca3f;
$main-text-color: #444444;

$breakpoints: (
  'small-min': (min-width: 320px),
  'medium-min': (min-width: 800px),
  'large-min': (min-width: 984px),
  'huge-min': (min-width: 1200px),
//  'large-huge-min': (min-width: 1025px) and (max-width: 1200px),
);