.medication {
    &__wrapper {
        margin-top: 75px;
        display: flex;
    }
    &__list-wrapper,
    &__photo-wrapper {
        flex-basis: 50%;
    }
    &__photo-wrapper {
        text-align: right;
    }
    &__list {
        max-width: 380px;
    }
    &__item {
        min-height: 135px;
        padding-left: 160px;
        display: flex;
        align-items: center;
        &_tablets {
            background: url("../img/icon-tablets.png") 0 50% no-repeat;
        }
        &_tablets-with-glass {
            background: url("../img/icon-tablets-with-glass.png") 0 50% no-repeat;
        }
        &_calendar {
            background: url("../img/icon-calendar.png") 0 50% no-repeat;
        }
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
    &__text {
        margin: 0;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 20px;
            height: 3px;
            top: -15px;
            background-color: $second-accent-color;
        }
    }
}

@media (max-width: 830px) {
    .medication__wrapper {
        flex-direction: column;
    }
    .medication__photo-wrapper {
        text-align: center;
        order: 1;
    }
    .medication__list-wrapper {
        order: 0;
        }
    .medication__list {
        margin: 0 auto;
    }
}
